<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #bf9058">
    <div class="container-fluid">
      <div class="row  ">
        <div class="col-2 ">
          <img class="navbar-brand" src="../../../assets/pine.svg" alt="icon" />
        </div>
        
        <div class="col-4 align-self-center">
          <h1 class="name" style="color: rgba(119, 39, 34, 1)">
            The Pinecone Library
          </h1>
        </div>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<div class="col-4 "></div>
      <div class="collapse navbar-collapse  col-2   "  id="navbarTogglerDemo02">
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="ms-5" >
          <li class="nav-item">
            <h1 style="color: rgba(119, 39, 34, 1)">libros</h1>
          </li>
        </div>
        <div class="ms-5" >
          <li class="nav-item">
            <h1 style="color: rgba(119, 39, 34, 1)">Poemas</h1>
          </li>
        </div>
          
        </ul>
      </div>
    </div>
  </div>
  </nav>
</header>