/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: amita;
  
    src: url("./assets/tipografia/Amita/Amita-Regular.ttf") ;
}
.name{
    font-family: amita;
}
body{
    background-color: rgba(255, 239, 196, 1);
}