
<section>
    <h1 class="titulo">Poemas </h1>
    <a href="http://localhost:8001/newPoe" >Escribir uno</a>
</section>
 <section class="container-fluid noticias">


    <div class="row justify-content-around mb-5" >
      <article class="card  ms-1 col-xl-3 col-lg-3  col-md-4 col-sm-12 col-12 mt-5 mb-5 border-0 " *ngFor="let content of contents; let i = index">
   
            <app-poema  [imagen]="content.imagen" [Titulo]="content.Titulo"  [texto]="content.texto"></app-poema>
     
      </article>
    </div>
  
  </section> 