{% extends "base.html.twig" %}
{% block layout %}
    <header class="jumbotron jumbotron-fluid mb-5">
  <header>

    <nav class="navbar navbar-expand-lg " style="background-color: rgba(191, 144, 88, 1);">
      <div class="container-fluid">
        
      
        <div class="col-xl-1 me-5">
          <a class=" navbar-brand" href="">
        <img class="logo" src="/assets/pine.svg" alt="logo"> 
      </a>
      </div>
      <div class="col-xl-2">

          <a href="" class="logol">The Pinecone Library</a>
        
        </div>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-xl-8  "></div>
          <div class="col-xl-3  ">

           
            <ul class="navbar-nav me-center mt-3 ">

              
              <li class="nav-item  ">
                <a class="nav-link espace enlace active " href="noticias.html">
                  <h1 class="layout  ">Poemas</h1>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link  espace enlace"  href="biblioteca.html">
                  <h1 class="layout ">Libros</h1>
                </a>
              </li>
            
              
            </ul>
          </div>
        </div>

      </div>
    </nav>
    
</header>
 
</div>

     {% block content %}{% endblock %}


<footer class="text-center text-lg-start fixed-bottom " style="background-color:rgba(157, 74, 50, 1)">

    <section class="">
      <div class="container-fluid text-center text-md-start ">
       <a>Quienes somos</a>
      </div>
    </section>
  
    <div class="text-center p-4" style="background-color: rgba(119, 39, 34, 1);">
      <p style="color: white;">© Copyright Pinecone 2023 </p>
    </div>
  
  </footer>
{% endblock %}